 @import "bootstrap";
 @import "toastr";
 @import "font-awesome";

 #content{
   padding-bottom: 250px;
 }

 footer{

   position: fixed;
   font-size: 0.8rem;
   bottom:0;
   background: #eeeeee;
   width:100%;
   padding:  0.5rem;
   ul{

     list-style: none;
     li {
       margin-bottom: 0.3rem;
     }

   }
   p{
     margin-bottom: 0.3rem;
   }

 }
