<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-xs-12">
        <h5>Donate Here </h5>
        <ul class="bd-footer-links">
          <li class="btc-addr">BTC : 16MdVNJgvGYbVuaC6KrjGNy2RCrNsaPaZz <span class="addr-copy badge badge-info" data-clipboard-text="16MdVNJgvGYbVuaC6KrjGNy2RCrNsaPaZz">copy</span> </li>
          <li class="eth-addr">ETH : 0x5debb97a6Cc1Fdf686a3C6aA804a623a21deD73c<span class=" addr-copy badge badge-info" data-clipboard-text="0x5debb97a6Cc1Fdf686a3C6aA804a623a21deD73c">copy</span> </li>
        </ul>
      </div>
      <div class="col-sm-4 col-xs-12">
        <i class="fa fa-envelope-square fa-2x social"></i>Contact : limuz1281@gmail.com 
        <div class="row">
          <p>
          Current Currency 는 폴로닉스(<%= link_to "Poloniex", "https://www.poloniex.com" %>)와 코인원(<%= link_to "CoinOne", "https://www.coinone.co.kr" %>)간
          </p>
          <p>
          환율 계산을 해주는 페이지로,
          </p>
          <p>
          변경사항은 새로고침을 통해서 됩니다.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
