<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-xs-12">
        <h5>Donate Here </h5>
        <ul class="bd-footer-links">
          <li class="btc-addr">BTC : 16MdVNJgvGYbVuaC6KrjGNy2RCrNsaPaZz <span class="addr-copy badge badge-info" data-clipboard-text="16MdVNJgvGYbVuaC6KrjGNy2RCrNsaPaZz">copy</span> </li>
          <li class="eth-addr">ETH : 0xba920569e0a24459dbf5b2fcab9adf3e4a41b918 <span class=" addr-copy badge badge-info" data-clipboard-text="0xba920569e0a24459dbf5b2fcab9adf3e4a41b918">copy</span> </li>
          <li class="etc-addr">ETC : 0xc45b10108920b5f20e574bbf021e73d93af5dbc8 <span class="addr-copy badge badge-info" data-clipboard-text="0xc45b10108920b5f20e574bbf021e73d93af5dbc8">copy</span></li>
        </ul>
      </div>
      <div class="col-sm-4 col-xs-12">
        <i class="fa fa-envelope-square fa-2x social"></i>Contact : limuz1281@gmail.com 
      </div>
    </div>
  </div>
</footer>
